* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 70vw;
    height: 10vh;
    background-color: black;
    position: sticky;
    margin: auto;
}

#logo{
    width: 10%;
    margin: 15px 0px 0px 10px;
}

body {
    
}